body {
 font-family: Arial, sans-serif;
}
table {
 border-collapse: collapse;
 width: 100%;
}
th, td {
 border: 1px solid #ddd;
 padding: 8px;
 text-align: left;
}
tr:nth-child(even) {
 background-color: #f3acac;
}

tr:hover {
 background-color: #918484; /* darker pink on hover */
}